/********** Fonts Styling **********/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/********** Overall Page Styling **********/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #000002;
  --headings-color: #2f1f21;
  --background-color: #eaeaea;
  --black-tint1: #363636;
  --black-tint2: #6d6d6d;
  --black-tint3: #a3a3a3;
  --black-tint4: #c3c3c3;
  --white-color: #ffffff;
  --box-shadow: 1px 4px 5px #c3c3c3;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary-color);
  font-family: "lato";
}
h2 {
  color: var(--black-tint4);
  font-family: "poppins";
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0;
}

/*************** Navbar Section *****************/

.mobile_nav {
  padding: 0.4rem 1rem;
  display: none;
}
.mobile_nav img {
  width: 5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.4rem 4rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--headings-color);
}
.social_icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.social_icons i {
  font-size: 1rem;
  color: var(--black-tint4);
}
.logo {
  color: var(--black-tint4);
  font-family: "lato";
  font-size: 2rem;
  font-weight: 600;
}
/* .logo img { */
/* width: 6rem; */
/* } */
.navlinks {
  display: flex;
  gap: 1rem;
}
.navlinks a {
  text-decoration: none;
  color: var(--black-tint4);
  font-size: 1rem;
  font-family: "lato";
  cursor: pointer;
  transition: color 0.4s linear;

  &:hover {
    text-decoration: underline;
    color: var(--black-tint4);
  }
}
.wishlist {
  position: relative;
}
#fvrt-count {
  background: var(--primary_color);
  color: white;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 3px 6px;
  position: absolute;
  top: -10px;
  right: -10px;
}
.navbar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.searchbar {
  display: flex;
  align-items: center;
  background-color: var(--black-tint1);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}
.searchbar input {
  all: unset;
  width: 100%;
  font-size: 0.8rem;
  padding: 0.2rem;
  padding-right: 6rem;
  color: var(--white-color);
}
.searchbar i {
  color: var(--white-color);
}
.navlinks2 {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.navlinks2 a {
  text-decoration: none;
  color: var(--white-color);
  padding: 0 1rem;
  font-family: "lato";
  font-weight: 300;
  cursor: pointer;
  transition: color 0.4s linear;

  &:hover {
    text-decoration: underline;
    color: var(--black-tint4);
  }
}
.menu-toggle {
  font-size: 1.4rem;
  display: none;
  cursor: pointer;
}

/*************** All Blogs Categories *****************/

main {
  width: 90vw;
  margin: 0 auto;
}
.blogs_category {
  margin: 3rem 0;
}
.categories {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6rem;
  padding: 1rem;
}
.categories a {
  text-decoration: none;
  color: var(--black-tint4);
  background-color: var(--black-tint1);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--background_color) 0.5s linear;

  &:hover {
    background-color: var(--black-tint2);
  }
}
/*************** All Blogs Searchbar *****************/

.blog_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.searchbar {
  display: flex;
  align-items: center;
  background-color: var(--black-tint1);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}
.searchbar input {
  all: unset;
  width: 100%;
  font-size: 0.8rem;
  padding: 0.2rem;
  padding-right: 6rem;
  color: var(--white-color);
}
.searchbar i {
  color: var(--white-color);
}

/*************** All Blogs Display *****************/

.cards_display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 0;
}
.cards_display .card {
  background-color: var(--gradient_color);
  border: 1px solid var(--black-tint1);
  color: var(--black-tint4);
  border-radius: 1rem;
  padding: 0.7rem 1.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  transition: all 1s linear;

  &:hover {
    transform: translateY(-6px);
  }
}
.cards_display .card_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.card_date{
  font-size: 0.8rem;
}
.card_date span {
  font-size: 0.7rem;
  color: var(--black-tint3);
}
.cat {
  background-color: var(--background-color);
  color: var(--headings-color);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
}
.card .card_title {
  font-size: 1.2rem;
  color: var(--black-tint3);
  padding: 0.5rem 0;
}
.card .card_image {
  width: 25vw;
  height: 25vh;
  margin: 1rem 0;
}
.card .card_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(--black-tint4);
}
.card .card_desc{
  font-size: 0.8rem;
  color: var(--black-tint3);
  margin: 0.6rem 0;
}
.card .card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card_footer .card_info {
  display: flex;
  align-items: center;
  color: var(--black-tint4);
  padding: 0.4rem 0;
}
.card_info img{
  width: 2.5rem;
  height: 2.5rem;
}
.card .card_info .blog_info h5 {
  font-size: 0.7rem;
}
.card .card_info .blog_info p {
  color: var(--black-tint4);
  font-size: 0.7rem;
  padding: 0.2rem;
}
.card_link a {
  text-decoration: underline;
  color: var(--black-tint3);
  font-family: "lato";
  font-size: 0.8rem;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: color 0.5s linear;

  &:hover {
    color: var(--white-color);
  }
}





.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.pagination button{
  all: unset;
  border: 1px solid var(--black-tint2);
  padding: 0.3rem 0.7rem;
  border-radius: 0.4rem;
  color: var(--black-tint3);
  cursor: pointer;
  transition: background-color 0.5s linear;

  &:hover{
    background-color: var(--black-tint2);
  }
}